body {
    margin: 0;
    padding: 0;
    background: rgb(233, 228, 228);
  }

  .main-sec {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .search-box {
    margin-bottom: 20px;
    padding: 30px;
    background: white;
  }
  .post-box {
    height: 100vh;
    background: rgb(233, 228, 228);
  }
  .posts {
    display: flex;
    padding: 10px;
    background: white;
    margin: 20px 0 20px 0;
  }
  .inner-post {
    margin: auto;
    height: 94%;
    width: 100%;
    border: 1px black solid;
  }

  .post-info {
    display: flex;
  }
  .post-img {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

.post-txt{
    display: flex;
    flex-direction: column;
}
.read-more-btn{
    color: #0984e3;
}
.read-more-text{
    display: none;
}
.read-more-text--show{
    display: inline;
}